
<div class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h2 class="mx-auto my-0 text-uppercase">Va multumim pentru raportare!</h2>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Raportarea facuta de dumneavoastra va fi analizata de catre un administrator, cat de curand!</h2>
            <a href="/Report/Add" class="btn btn-primary">Inca o raportare</a>
            <a href="/Map/MapView" class="btn btn-primary">Inapoi la harta</a>
        </div>
    </div>
</div>