@model RegisterViewModel

<div class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <form asp-controller="Account" asp-action="Register" class="form" method="post">
                <input type="hidden" asp-for="ReturnUrl" />

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="UserName" type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputUsername" placeholder="Username...">
                </div>

                <div class="form-group">
                    <input asp-for="Password" type="password" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputPassword" placeholder="Password..." />
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmPassword" type="password" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputPasswordConf" placeholder="Confirm Password..." />
                </div>
                <div class="form-group">
                    <input asp-for="EmailAddress" type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
                </div>
                <div class="form-group">
                    <input asp-for="phoneNumber" type="tel" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputPhone" placeholder="PhoneNumber..." />
                 </div>   
                    <button type="submit" class="btn btn-primary">Register</button>
            </form>
            <p class="message">Already registered? <a href="/Account/Login">Sign In</a></p>
        </div>
    </div>
</div>

