
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Apele Muresului </h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Bine ati venit pe platforma online de monitorizare a nivelului de poluare a raului Mures.</h2>
            <a href="/Map/MapView" class="btn btn-primary js-scroll-trigger">See the map!</a>

        </div>
    </div>
</header>

<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Apele Muresului, o miscare indrazneata</h2>
                <p class="text-white-50">
                    Aceasta platforma urmareste atat sa ofere informatii cat mai precise cu privire la situatie nivelului de poluare a raului Mures, dar si sa ii
                    mobilizeze pe membrii ei sa participe activ la colecatrea de date si, astfel la o atenta supraveghere a raului.
                </p>
            </div>
        </div>
        <img src="~/img/bg-signup.jpg" class="img-fluid" alt="">
    </div>
</section>