<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<title>Update Feature Attributes - 4.10</title>



<style>
    html,
    #viewDiv {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #info {
        padding: 14px;
        border-radius: 5px;
    }

    #update {
        padding: 6px;
    }

    #form {
        background: #fff;
    }

    /* replaces esri-widget--panel */
    .scroller {
        overflow-x: hidden;
        overflow-y: auto;
    }
</style>

<script>
    require([
        "esri/Map",
        "esri/views/MapView",
        "esri/widgets/FeatureForm",
        "esri/layers/FeatureLayer",
        "esri/widgets/Popup",
        "esri/PopupTemplate",
        "esri/widgets/FeatureForm"
    ], function (
        Map,
        MapView,
        FeatureForm,
        FeatureLayer) {

            let highlight, editFeature;
            const featureLayer = new FeatureLayer({
                portalItem: {
                    id: "f1e71570150a4d0b9012a76cab894fad"
                }
            });
            featureLayer.popupTemplate = {
                title: "{DESC_}",
                content: [{
                    type: "fields",
                    fieldInfos: [{
                        fieldName: "SEG_ID",
                        label: "Segment ID"
                    }, {
                        fieldName: "DESC_",
                        label: "Segment Zone Name"
                    }, {
                        fieldName: "PH"
                    }, {
                        fieldName: "CantitateSubstanteNocive",
                        label: "Substante Nocive (mg/L)"
                    }, {
                        fieldName: "ProcentPoluare",
                        label: "Procent Poluare (%)"
                    }]
                }]
            };

            const map = new Map({
                basemap: "topo",
                layers: [featureLayer]
            });

            let view = new MapView({
                map: map,
                container: "viewDiv",
                center: [22.5, 46],
                zoom: 8
            });
            form = new FeatureForm({
                container: "form",
                groupDisplay: "sequential",
                layer: featureLayer,
                // Autocastable to FieldGroupConfig
                // Inspector group
                fieldConfig: [{
                    label: "Inspector information",
                    description: "Field inspector information",
                    // individual field configurations within the group
                    fieldConfig: [{
                        name: "SEG_ID",
                        label: "Segment ID"
                    }, {
                        name: "DESC_",
                        label: "Segment Zone Name"
                    }, {
                        name: "PH"
                    }, {
                        name: "CantitateSubstanteNocive",
                        label: "Substante Nocive"
                    }, {
                        name: "ProcentPoluare",
                        label: "Procent Poluare"
                    }]
                }]
            });


            view.ui.add("info", {
                position: "top-left",
                index: 1
            });

        });
</script>

<div class="masthead" style="height:1000px">

    <div class="claro container" style="padding-top:220px;width:1000px;height:750px">

        <h2 class="text-white-50 text-uppercase">Harta nivelului de poluare a Muresului</h2>

        <div id="viewDiv"></div>
        <div id="info" class="esri-widget">
        </div>
    </div>

    @if (User.IsInRole("Volunteer"))
    {
        <div style=" padding-top:50px">
            <a href="/Report/Add" class="btn btn-primary" style="margin-left:650px">Report an event</a>
        </div>
    }
</div>
